.patientsModal-contanier{
    justify-content: center;
    margin: 0px;
}

.dataTitleNew{
    font-size: 19px;
}
.dataInfoNew input{
    font-size: 15px;
}

#dob{
    display: block;
    width: 100%;
    height: calc(2.25rem + 2px);
    padding: .375rem .75rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #495057;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    border-radius: .25rem;
    transition: border-color .15s
}

.react-datepicker-wrapper{
    width: 100%;
}

.submit-btn{
    min-width: 50%;
    border: 1px solid #000
}

@media (max-width: 450px){
    .dataTitleNew{
        font-size: 16px;
    }
    .dataInfoNew input{
        font-size: 13px !important;
    }
}